body
    font-family: 'Dosis', sans-serif
    font-weight: 500
    color: #ffff
    text-align: center
    letter-spacing: 0.1em
    word-spacing: 0.2em

h1
    font-size: 32px
    margin: 20px
    line-height: 1.5

h2
    font-size: 22px
    margin: 10px
    line-height: 1.6
