@import main
@import header
@import start
@import yes
@import top
@import info
@import btt
@import game
@import qeyd


*
    -webkit-user-select: none
    user-select: none

body
    -webkit-user-select: none
    user-select: none
